<% include ../../header.ejs %>

<style>
    html,
    body {
    height: 100%;
    }

    body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    }

    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

</style>

<div class="text-center">
    <form class="form-signin"  method="POST" action="/Administration/Login">
        <img class="mb-4" src="https://pbs.twimg.com/profile_images/572161594142887936/j3bpsg6C_400x400.jpeg" alt="" width="155" height="155" />

        <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
        
        <% if(success_msg.length > 0) { %>
            <div class="alert alert-danger"><%= success_msg %> </div>
        <% } else if (error_msg.length > 0) { %>
            <div class="alert alert-danger"><%= error_msg %> </div>
        <% } else if(error.length > 0) { %>
            <div class="alert alert-danger"><%= error %> </div>
        <% } %>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required="" autofocus="">
        
        <label for="inputPassword"  class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
</div>

<!-- form method="POST" action="/Administration/Login">
    <div class="dvLogin panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Sign In</h1>
        </div>
        <div class="panel-body">
            <img class="img-responsive" style="max-width: 125px;" src="/img/lock.png" />



            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="input-group">
                <input class="form-control" name="username" type="text" placeholder="Email" />
            </div>
            <br />
            <input class="form-control" name="password" type="password" placeholder="Password" />
            <br />
            <div >
                <button class="btn btn-lg btn-success" style="width: 100%">Sign In</button>
            </div>
            <br />
        </div>
    </div>
</form -->