<% include ../header.ejs %>

<br>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="tbDate">Date</label>
            <input class="form-control" name="tbDate" type="date" placeholder="01/01/2001" required />
        </div>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="ddlWblType">Work Based Learning</label>
            <select class="form-control" name="ddlWblType" required>
                <option></option>
                <% results.types.forEach(type => { %>
                    <option value="<%= type.ID %>"><%= type.type %></option>
                <% }) %>
            </select>
        </div>
    </div>
    

    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="tbOrg">Organization</label>
            <input class="form-control" name="tbOrg" type="text" placeholder="" required />
        </div>
    </div>


    <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="tbHours">Hours</label>
            <input class="form-control" name="tbHours" type="number" placeholder="" required />
        </div>
    </div>

</div>


<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-9">
        <div class="form-group">
            <label for="tbComment">Comment(s)</label>
            <textarea class="form-control" name="tbComment" type="text" placeholder=""></textarea>
        </div>
    </div>

    <div class="col-sm-12 col-md-1 col-lg-1">
        <div class="form-group">
            <button class="btn btn-default btnAdd">+</button>
        </div>
    </div>
</div>

<div class="row table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organization</th>
            <th scope="col">Work-Based Learning</th>
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% results.activities.forEach((a, indx) => { %>          
            <tr>
                <th scope="row"><%= indx + 1%></th>
                <td><%= a.organization %></td>
                <td><%= a.type %></td>
                <% let date = new Date(a.date) %>
                <td><%= date.toDateString()%></td>
                <td><%= a.hours %></td>
                <td><%= a.comment %></td>
                <td><button class="btn btn-danger" onclick="remove('<%- a.ID %>')">-</button></td>
            </tr>
        <% }) %>        
    </tbody>
    </table>
</div>

<script src="/js/utilities.js"></script>
<script>
    addListener(".btnAdd", "click", () => {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/Student/WBL/Create", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(getValues()));
        window.location.href = '/Student/WBL';
    });

    function remove(id) {
        let xhr = new XMLHttpRequest();
        xhr.open("DELETE", `/Student/WBL/`, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({id: id}));
        window.location.href = '/Student/WBL';
    }
</script>

<% include ../footer.ejs %>