<% include ../header.ejs %>

<br>

<h1><%= title %></h1>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="form-group">
            <label for="tbTitle">Certification Name</label>
            <input class="form-control" type="text" name="tbName" placeholder="Enter Certification Name" />
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3">
            <div class="form-group">
                <label for="tbAuth">Certifiying Authority</label>
                <input class="form-control" type="text" name="tbAuth" placeholder="Enter Certifiying Authority" />
            </div>
        </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
            <label for="tbDate">Date</label>
            <input class="form-control" type="date" name="tbDate" placeholder="Enter Date" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
            <label for="tbScore">Score</label>
            <input class="form-control" type="number" name="tbScore" placeholder="Score"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
        <div class="form-group">
            <label for="tbComment">Comment(s)</label>
            <textarea class="form-control" type="text" row="3" name="tbComment" placeholder="Enter description about course load"></textarea>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="form-group" style="padding-top: 40px;">
            <button class="btn btn-default btnAdd"> + </button>
        </div>
    </div>
</div>
<hr/>

<div class="row table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Certification Name</th>
            <th scope="col">Certifiying Authority</th>
            <th scope="col">Score</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% certification.forEach((c, indx) => { %>          
                <tr>
                    <th scope="row"><%= indx + 1%></th>
                    <td><%= c.name %></td>
                    <td><%= c.authority %></td>
                    <td><%= c.score %></td>
                    <td><%= new Date(c.date).toDateString() %></td>
                    <td><button class="btn btn-danger" onclick="remove('<%= c.ID %>')">-</button></td>
                </tr>
            <% }) %>
        </tbody>
        </table>
</div>
<br>

<script src="/js/utilities.js"></script>
<script>
    addListener(".btnAdd", "click", () => {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/Student/Certification", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(getValues()));
        window.location.href = '/Student/Certification';
    });

    function remove(id) {
        let xhr = new XMLHttpRequest();
        xhr.open("DELETE", `/Student/Certification`, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({id: id}));
        window.location.href = '/Student/Certification';
    }
</script>

<% include ../footer.ejs %>