<% include ../header.ejs %>

<br>

<h1><%= title %></h1>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="tbCourses">Course</label>
            <input class="form-control" type="text" name="tbCourses" placeholder="Enter Course / Section Name" />
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="">Term</label>
            <select class="form-control" name="ddlTerm">
                <option>Select Term</option>
                <option value="1">Spring</option>
                <option value="2">Summer</option>
                <option value="3">Fall</option>
            </select>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
        <div class="form-group">
            <label>Year</label>
            <select class="form-control" name="ddlYear">
                <option value="">Select Year</option>
                <% 
                    var d = new Date();  
                    for(var x = d.getFullYear(); x > d.getFullYear() -5; --x ){
                %>
                    <option value="<%= x %>"><%= x %></option>
                <%
                    }
                %>
            </select>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
        <div class="form-group">
            <label for="tbHours">Hours</label>
            <input class="form-control" name="tbHours" type="number" placeholder="123" />
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <br>
            <button class="btnAdd btn btn-default">+</button>
        </div>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course</th>
            <th scope="col">Term</th>
            <th scope="col">Year</th>
            <th scope="col">Hours</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% courses.forEach((c, indx) => { %>          
            <tr>
                <th scope="row"><%= indx + 1%></th>
                <td><%= c.title %></td>
                <td><%= c.term %></td>
                <td><%= c.year %></td>
                <td><%= c.hours %></td>
                <td><button class="btn btn-danger" onclick="remove('<%- c.ID %>')">-</button></td>
            </tr>
            <% }) %>        
        </tbody>
      </table>
</div>
<br>

<script src="/js/utilities.js"></script>
<script>

    function getValues(){
        let data = {},
            fields = document.querySelectorAll("[name]");
        
        fields.forEach(input => {
            data[input.name] = input.value;
        });

        return data;
    }

    addListener(".btnAdd", "click", () => {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/Student/Courses/Create", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(getValues()));
        window.location.href = '/Student/Courses';
    });

    function remove(id) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", `/Student/Courses/remove`, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({id: id}));
        window.location.href = '/Student/Courses';
    }
</script>

<% include ../footer.ejs %>