<% include ../header.ejs %>
<br>
<h1><%= title %></h1>
<br>

<div class="row">
    <div class="col-sm-8 col-md-1 col-lg-1">

    </div>
    <div class="col-sm-8 col-md-3 col-lg-5">
        <div class="form-group">
            <label for="tbTech">Skill</label>
            <input class="form-control" name="tbTech" type="text" placeholder="Enter skill you have learned and/or applied." required />
        </div>
    </div>
    <div class="col-sm-8 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="ddlGrade">Grade</label>
            <select name="ddlGrade" class="form-control" required>
                <option>Select Grade</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
    <div class="col-sm-8 col-md-2 col-lg-1">
        <div class="form-group">
            <label for="ddlScale">Scale</label>
            <select name="ddlScale" class="form-control" required>
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" style="padding-top: 30px;">
        <button class="btn btn-default btnAdd" style="float: right !important;">+</button>
    </div>
</div>

<div class="row table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Skill</th>
            <th scope="col">9th</th>
            <th scope="col">10th</th>
            <th scope="col">11th</th>
            <th scope="col">12th</th>
            </tr>
        </thead>
        <tbody>
            <% technical.forEach((t, indx) => { %>          
                <tr>
                    <th scope="row"><%= indx + 1%></th>
                    <td><%= t.skill %></td>
                    <td>
                        <select data-skill="<%= t.ID %>" data-grade="9" class="form-control" required>
                            <option>---</option>
                            <option value="1" <%= t["grade_9"] == "1" ? "selected" : "" %>>1</option>
                            <option value="2" <%= t["grade_9"] == "2" ? "selected" : "" %>>2</option>
                            <option value="3" <%= t["grade_9"] == "3" ? "selected" : "" %>>3</option>
                            <option value="4" <%= t["grade_9"] == "4" ? "selected" : "" %>>4</option>
                        </select>
                    </td>
                    <td>
                        <select data-skill="<%= t.ID %>" data-grade="10" class="form-control" required>
                            <option>---</option>
                            <option value="1" <%= t["grade_10"] == "1" ? "selected" : "" %>>1</option>
                            <option value="2" <%= t["grade_10"] == "2" ? "selected" : "" %>>2</option>
                            <option value="3" <%= t["grade_10"] == "3" ? "selected" : "" %>>3</option>
                            <option value="4" <%= t["grade_10"] == "4" ? "selected" : "" %>>4</option>
                        </select>
                    </td>
                    <td>
                        <select data-skill="<%= t.ID %>" data-grade="11" class="form-control" required>
                            <option>---</option>
                            <option value="1" <%= t["grade_11"] == "1" ? "selected" : "" %>>1</option>
                            <option value="2" <%= t["grade_11"] == "2" ? "selected" : "" %>>2</option>
                            <option value="3" <%= t["grade_11"] == "3" ? "selected" : "" %>>3</option>
                            <option value="4" <%= t["grade_11"] == "4" ? "selected" : "" %>>4</option>
                        </select>
                    </td>
                    <td>
                        <select data-skill="<%= t.ID %>" data-grade="12" class="form-control" required>
                            <option>---</option>
                            <option value="1" <%= t["grade_12"] == "1" ? "selected" : "" %>>1</option>
                            <option value="2" <%= t["grade_12"] == "2" ? "selected" : "" %>>2</option>
                            <option value="3" <%= t["grade_12"] == "3" ? "selected" : "" %>>3</option>
                            <option value="4" <%= t["grade_12"] == "4" ? "selected" : "" %>>4</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-secondary" onclick="update('<%- t.ID %>')"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-danger" onclick="remove('<%- t.ID %>')"><span class="oi oi-trash"></span></button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        </table>
</div>

<% var a = user %>

<script src="/js/utilities.js"></script>
<script>
        
    addListener(".btnAdd", "click", () => {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/Student/Technical/Create", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(getValues()));
        window.location.href = '/Student/Technical';
    });

    function remove(id) {
        let xhr = new XMLHttpRequest();
        xhr.open("DELETE", `/Student/Technical/`, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({id: id}));
        window.location.href = '/Student/Technical';
    }

    function update(id){
        let fields = document.querySelectorAll(`[data-skill='${id}']`);
        let payload = {
            arr: []
        };
        fields.forEach((item) => {
            payload.arr.push(`${item.getAttribute("data-grade")} ${item.value}`)
        });
        payload.id = id;
        console.log(payload);

        let xhr = new XMLHttpRequest();
        xhr.open("PUT", `/Student/Technical/`, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(payload));
        window.location.href = '/Student/Technical';
    }
</script>

<% include ../footer.ejs %>